.cont{
display: flex;
flex-direction: row;
padding: 8px;
border-radius: 6px;
gap: 16px;
align-items: center;
border: 1px solid grey;
width: fit-content;
margin-left: 24px;
}
.cont> input {
    outline: none;
}